<ion-header>
    <ion-navbar>
        <ion-title>Edit Net</ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="dark" (click)="saveNet()">
                <ion-icon name="checkmark-circle"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-label>Net Name: </ion-label>
        <ion-input type="text" [(ngModel)]="netService.selectedNet.name"></ion-input>
    </ion-item>
    <ion-list no-lines>
        <ion-list-header>Selected Contacts</ion-list-header>
        <button ion-item (click)="displayAddContactsModal()">
            Edit Selected Contacts
        </button>
        <div *ngFor="let contact of netService.selectedNet.contacts">
            <ion-item-sliding *ngIf="contact.selected">
                <ion-item>{{contact.displayName}}</ion-item>
                <ion-item-options side="right">
                    <button ion-button color="danger" (click)="removeContact(contact)">
                        <ion-icon name="trash"></ion-icon>
                        Remove
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </div>
    </ion-list>
</ion-content>
