<ion-header>
    <ion-navbar>
        <ion-buttons>
            <button ion-button icon-only color="dark" (click)="close()">
                <ion-icon name="close-circle"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Edit Contacts</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-list-header>Contacts</ion-list-header>
        <div *ngFor="let contact of contactService.workingContacts; let i = index">
            <ion-item (click)="displayPhoneNumbers[i] = !displayPhoneNumbers[i]">
                {{contact.displayName}}
                <ion-icon icon-right [name]="displayPhoneNumbers[i] ? 'arrow-dropup' : 'arrow-dropdown'"></ion-icon>
            </ion-item>
            <ion-list *ngIf="displayPhoneNumbers[i]" no-lines no-margin>
                <ion-item *ngFor="let number of contact.phoneNumbers">
                    <ion-label>{{number.type}}: {{number.value}}</ion-label>
                    <ion-toggle [(ngModel)]="number.selected"></ion-toggle>
                </ion-item>
            </ion-list>
        </div>
    </ion-list>
</ion-content>
